<header>
  <div class="top-bar">
      <h1>INOVA CAMPUS</h1>
  </div>
  <p>Você está em <a href="#">Login</a> › <a href="#">Esqueci Senha</a></p>
</header>

<main>
  <h2 class="highlight-text">Esqueceu a senha? A gente te ajuda!</h2>
  <p>Digite o endereço de e-mail que você cadastrou no <b>Inova Campus</b> para enviarmos um link de redefinição de senha.</p>
  
  <div class="message-box">
      <p>Uma nova senha foi enviada para o e-mail cadastrado. <br> Verifique a caixa de entrada ou o spam.</p>
      <button onclick="window.location.href='#'">Ir para a tela de login</button>
  </div>
</main>