@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #2f7d32;
    color: white;
    font-size: 14px;
}

.icons {
    display: flex;
    gap: 5px;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.signal {
    width: 15px;
    height: 10px;
    background-color: black;
    display: inline-block;
}

/* Cabeçalho */
header {
    background-color: #267222;
    color: white;
    padding: 15px 0;
}

.header-content {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Link de voltar */
.back-link {
    display: block;
    margin: 15px;
    color: black;
    text-decoration: none;
}

.back-link span {
    color: #267222;
}

/* Informações do usuário */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
    justify-content: flex-start; /* Alinha à esquerda */
}


.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Informações do Vendedor */
h2 {
    font-size: 18px;
    font-weight: normal; /* Remove o negrito */
    margin-bottom: 15px;
    text-decoration: underline;
}


.info-box {
    background-color: #98BB97;
    padding: 20px;
    border-radius: 10px;
    width: 150px; /* Defina um tamanho fixo */
    height: 150px; /* Igual à largura para formar um quadrado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}


.info-title {
    font-size: 14px;
    font-weight: bold;
}

.info-number {
    font-size: 45px;
    font-weight: bold;
    margin: 5px 0;
}

.info-desc {
    font-size: 12px;
}

/* Botões */
.btn {
    font-family:'Poppins', sans-serif;
    background-color: #267222;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.full-width {
    display: block;
    width: 80%;
    margin: 20px auto;
}