.legenda {
    text-align: left; 
    margin-top: 40px; 
    font-size: 16px;
    padding-left: 30px; 
}

.produtos {
    width: 100px; 
    background: rgb(223, 222, 222);
    padding: 10px;
    margin-left: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.produto {
    width: 100%;
    height: 90px;
    object-fit: cover; 
}

.preço {
    font-size: 11px;
    text-align: left;
    margin-top: -1px;
    font-weight:bold;
}

.nomeP {
    font-size: 10px;
    margin-top: -10px;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn {
    padding: 12px;
    width: 1000%;
    font-size: 13px;
    margin-top: 15px;
    border-radius: 5px;
}

.entrar {
    background-color: #2d7a2d;
    color: white;
    border: none;
    flex: 2;
}


.apagar{
    flex: 1;
    background-color: white;
    color: red;
    border: 1px solid red;
}