@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

/* Header */
.header {
    background-color: #276227;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}


.breadcrumb {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.breadcrumb a {
    text-decoration: none;
    color: #276227;
    font-weight: bold;
}

.breadcrumb .active {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    color: #276227;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    max-width: 320px;
}


.form-box {
    background-color: #c1ddb6;
    padding: 25px;
    border-radius: 12px;
    width: 320px;  
    height: 320px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}


input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
}


.btn-submit {
    background-color: #276227;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}
