

.header {
  font-size: 12px;
  padding: 80px 20px 20px 20px;
}

a {
  color: white;
}

.principal-text {
  font-size: 32px;
  text-align: start;
  font-weight: 100;
  margin-block: 25px;
  line-height: 48px;
}

.highlight {
  color: #2d6a2e;
  font-weight: 100;
}

.subtext {
  font-size: 14px;
  text-align: start;
  margin-block: 20px 40px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block: 20px;
}

.btn {
  padding: 6px;
  text-align: center;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 
    rgba(17, 17, 26, 0.1) 0px 1px 0px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.primary {
  background-color: #2d6a2e;
  color: white;
}

.secondary {
  background-color: white;
  color: #2d6a2e;
  border: 2px solid #2d6a2e;
}
