.user-info {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  gap: 10px;
  padding: 30px;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-container a {
  color: black;
}

a {
  color: white;
}

.logout {
  
  border: 1px solid #c90c0f;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout a {
  color: #c90c0f;
}

.categorias {
  text-align: center;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.categorias .item {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  flex: 1;
}

.categorias .item p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.categoria img {
  width: 40px;
  height: 40px;
}

.mais-vendidos {
  padding: 30px;
}

.mais-vendidos h2 {
  font-weight: 600;
}

.produto {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #dadada;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.produto img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.info h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.preco {
  font-size: 1.2em;
  font-weight: bold;
}

.btn {
  background-color: #c90c0f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto; 
  align-self: flex-end; 
}

#backgound {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .3s ease;
  background-color: rgba(35, 34, 34, 0.9);
  overflow: hidden;
}

.modal {
  width: 70vw; 
  height: 45vh; 
  position: relative; 
  border-radius: 16px;
  font-size: 12px;
  color: white;
  background-color: rgba(38, 114, 34, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.modal h1 {
  font-size: 18px; 
  font-weight: bold; 
  color: yellow; 
  margin-bottom: 10px; 
}


.modal p {
  font-size: 16px; 
  font-style: italic; 
  color: #fff; 
  max-width: 80%; 
  text-align: justify;
  align-self: flex-start; 
  margin-left: 10%; 
  word-spacing: -1px;
}
#x {
  position: absolute;
  top: 9%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 50%; 
  font-size: 20px;
  width: 30px; 
  height: 30px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}
