.user-name {
    font-size: 16px;
    margin: 0;
}

p {
    width: 100%;
    margin-bottom: 20px;
}

.grid-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.titulo {
    font-size: 23px;
    margin-top: 30px;
} 

.legenda {
    text-align: left; 
    margin-top: 40px; 
    font-size: 16px;
    padding-left: 30px; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos {
    width: 80%; 
    background: rgb(250, 250, 250);
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.produto {
    width: 100%;
    height: 90px;
    object-fit: cover; 
}

.preço {
    font-size: 13px;
    text-align: left;
    margin-top: -1px;
    font-weight:bold;
}

.nomeP {
    font-size: 12px;
    margin-top: -10px;
    text-align: left;
}

.editar {
    margin-top: 20px; /* Espaço entre a legenda e o botão */
    padding: 5px 20px;
    background-color:white; /* Cor de fundo */
    color: red;
    border: 1px solid red;
    font-size: 12px;
    text-transform: uppercase;
}

.adicionarP {
    padding: 15px 20px;
    background-color: green; /* Cor de fundo */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase; /* Deixa o texto em caixa alta */
    bottom: 20px;
    margin-top: 20px;
}